/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: cyan;
}

body {
  height: 100vh;
  text-align: center;
  color: white;
}


a {
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 4.5em;
}
h2 {
  margin: 0.5em 0 1em 0;
  font-size: 3.5em;
}
h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.2em;
  margin-top: 20px;
}
p {
  font-size: 20px;
}
button {
  cursor: pointer;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0px 2em;
}

header img {
  cursor: pointer;
}


.mobile {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.menu img:last-child {
  margin-left: auto; /* Empuja la última imagen a la izquierda */
}

.menu span {
  height: 8px;
  margin: 3px;
  background-color: white;
  display: block;
}
.mode  {
  margin-top: 3.5em;
  position: absolute;
  left: 2em;
}

nav {
  display: none;
}

.navegation-mobile {
  display: flex;
  flex-direction: column;
  background-color: #2F3234;
  position: absolute;
  top: 6em;
  right: 2em;
  padding: 5px;
}
.navegation-mobile a {
    font-weight: 600;
}

.navegation-mobile a:last-child {
  margin-bottom: 10px;
}

.navegation-mobile a:hover {
  color: var(--primary);
}
.container {
  height: auto;
  padding: 0px 2em;
}

.info p{
  margin-top: 10px;
  color: azure;
}
.info p span {
  color: cyan;
}

.info hr {
  margin-top: 15px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}
.redes a i {
  font-size: 35px;
}

.low-arrow img {
  cursor: pointer;
  width: 45px;
  margin-bottom: 35px;
}




/*  PROJECTS  */

.grid {
  display: grid;
  grid-template-rows: 1fr;
}

.filter {
  margin-bottom: 1em;
}

.filter-button {
  background-color: var(--primary);
  border-color: var(--primary);
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
}

.table-project {
  background-color:#2F3234;
  color: white;
  padding: 25px;
  margin-bottom: 1em;
  border-radius: 20px;
}

.table-project img {
  border-radius: 5px;
}

.app-desing {
  width: 150px;
  height: 300px;
}
.web-desing {
  width: 100%;
  height: 300px;
}

.table-project button {
  font-weight: 600;
  color: white;
  padding: 10px 15px;
  background: none;
  border: solid 3px aqua;
}


/*  Skills */
.table-skills img{
  width: 130px;
}
.technology {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 20px 0px;
}
.technology img {
  width: 30px;
}
.table-skills p {
  margin: 15px 0px;
}

/*  Contact  */
.contact-us {
  display: none;
}

.contact-info {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 2em;
}
form button {
  width: 100%;
  font-weight: 600;
  color: white;
  padding: 10px 15px;
  background: none;
  border: solid 3px aqua;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
  color: white;
}
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
  color: white;
}

footer {
  margin-top: 1em;
  padding: 15px 2em;
  font-weight: 600;
  background-color: rgb(51, 51, 51);
}


.hidden {
  display: none;
}

/* Media Queries */

@media (min-width:768px) {
  h1 {
      font-size: 5em;
  }
  h2 {
    margin-top: 1.3em;
  }
  header {
      padding: 0px 5em;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu-mobile {
    display: none;
  }  
  .mode {
      left: 5em;
  }
  .container {
      padding: 0px 5em;
  }
  .info {
      padding: 20px 5em;
  }
  .grid {
    display: grid;
    grid-template-columns: 49% 49% ;
    gap: 2%
  }  
  .navegation-mobile {
    display: none;
  }
  nav {
    display: block;
  }
  nav a {
    margin: 0px 10px;
    font-weight: 600;
  }
  nav a:hover {
    color: var(--primary);
  }
}

@media (min-width:960px) {
  .grid {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 2.5%
  }  
  .contact-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  .contact-us p {
    margin-top: 2em;
    color: gray;
  }
  .contact-us h5 {
    font-size: 18px;
    margin: 5px 0 0 10px;
  }
  .contact-info h5 {
    margin: 0px 0 0 10px;
  }
  .contact-grid h4 {
    margin-bottom: 1.5em;
  }
}

@media (min-width:1440px) {
  h1 {
      font-size: 6.5em;
  }
  .info {
      padding: 20px 25em;
  }
  header {
      padding: 0px 10em;
  }
  .mode {
      left: 10em;
  }
  .container {
      padding: 0px 10em;
  }

}

